.underline {

    border-bottom: #222222 solid 1px;

}

.margin-list-item{

    margin-bottom: 4px;
}

.icon-color-white {

    color: white !important;

}

.margin-right-image-fix {

    margin-right: 10px;

}

.has-warning-text{

    color: hsl(348, 100%, 61%)

}

@media only screen and (max-width : 320px) {
    .container-mobile {

        margin-right: 32px !important;

        margin-left: 32px !important;

    }
}

